.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightcoral;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }
    // &::-webkit-scrollbar {
    //   width: 10px;
    //   height: 15px;
    // }
    // &::-webkit-scrollbar-track {
    //   background-color: lightsteelblue;
    // }
    // &::-webkit-scrollbar-thumb {
    //   border-radius: 5px;
    //   background-image: linear-gradient(45deg, #00aeff, #a68eff);
    //   box-shadow: rgba(0, 0, 0, 0.3) 0 3px 13px 1px;
    // }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
